<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/stylesheets/the_vacation_stylesheet.css" />
<title>The Vacation</title>
<div id="titlediv">
    <h1 id="homepagetitle">May the best vacation win!</h1>
            <h3><%= current_user.get_name() %></h3>
            <button id="sign_out" name="sign_out_button" onclick="">Sign out</button>
</div> 