<!DOCTYPE html>
<html>

    <head>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <% if (current_user) { %>
        <% include partials/header_with_user %>
        <% } else { %>
        <% include partials/header_no_user %>
        <% } %>
    </head>

    <body> 
        <div id="contentdiv">
            <% if (vacations) { %>
            <% include partials/vacations_table %>
            <% } else { %>
            <% include partials/vacations_table_placeholder %>
            <% } %>
        </div>
            
             <!-- The Modal (contains the Sign Up form) -->
        <div id="sign_up_form" class="modal">
        <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal"></span> -->
        <form class="modal-content" action="/sign_up" method="POST">
            <div class="container">
                <h1>Sign Up</h1>
                <p>Please fill in this form to create an new vacation.</p>
                <hr>
                
                <label for="Full name"><b>Name</b></label>
                <input type="text" placeholder="Enter your name" name="full_name" class="signup_textfield" required>
                
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" class="signup_textfield" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" class="signup_textfield" required>

                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="password_repeat" class="signup_textfield" required>

                <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                </label>

                <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

                <div class="clearfix">
                <button type="button" onclick="document.getElementById('sign_up_form').style.display='none'" class="cancelbtn">Cancel</button>
                <button type="submit" class="signupbtn">Sign Up</button>
                </div>
            </div>
        </form>
        </div>
            <!--End of sign up modal-->

        <!-- Add Vacation Modal (contains the Sign Up form) -->
        <div id='create_vacation_form' class="modal">
        <span onclick="document.getElementById('create_vacation_form').style.display='none'" class="close" title="Close Modal"></span>
        <form class="modal-content" action="/add_vacation" method="POST">
            <div class="container">
                <h1>Sign Up</h1>
                <p>Please fill in this form to create an account.</p>
                <hr>
                
                <label for="destination"><b>Destination</b></label>
                <input type="text" placeholder="Cancun" id="destination" name="destination" class="signup_textfield" required>
                
                <textarea style="width:100%" id="description" name="description" class="sign" rows="10" cols="50" required></textarea>

                <div class="clearfix">
                <button type="button" onclick="document.getElementById('create_vacation_form').style.display='none'" class="cancelbtn">Cancel</button>
                <button type="submit" class="signupbtn">Save Vacation</button> 
                </div>
            </div>
        </form>
        </div>
            <!-- End of ad vacation modal (contains the Sign Up form) -->

    </body>
</html>